<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= post.titulo %></title>
    <link rel="stylesheet" href="/public/style3.css">
</head>
<body>
    <main class="single-post">
        <div class="center">
            <h1><%= post.titulo %></h1>
            <p class="autor">Por <strong><%= post.autor %></strong> em <%= new Date(post.createdAt).toLocaleDateString() %></p>
            <p class="categoria">Categoria: <%= post.categoria %></p>
            <img src="<%= post.imagem %>" alt="<%= post.titulo %>" class="imagem-destaque">
            <article class="conteudo">
                <p><%= post.conteudo %></p>
            </article>
            <p class="views">Visualizações: <%= post.views %></p>
            <a href="/" class="voltar">← Voltar para a home</a>
        </div>
      </main>
    <%- incude('partials/footer.html') %>
</body>
</html>
